/node_modules
/public/hot
/public/storage
/public/fonts
/bootstrap/cache/*
/storage/*.key
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/cache/*
/storage/logs/*
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/js/*
/public/css/*
